@import url("https://www.redbit.com.br/css/estilos_global.css");

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Open_Sans";
  src: url("fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Black.ttf");
}

/*
====================
VARIAVEIS
====================
  ====================
  ====================
  */

:root {
  --cor-primaria: rgb(134, 134, 134);
  --cor-secundaria: green;
  --cor-terciaria: gray;
  --cor-quartenaria: rgb(50, 255, 221);
  --cor-fonte: black;
  --cor-fonte2: gray;
  --cor-fonte3: rgb(61, 61, 28);
  --tam-fontes: 16px;
  /*
  ====================
        FONTES
  ====================
  */
  --fonte-tipo-1: "Lato", sans-serif;
  --fonte-tipo-2: "Open Sans", sans-serif;
  --fonte-tipo-3: "Poppins", sans-serif;

  /*
  ====================
        HEADER
  ====================
  */
  --altura-header: 200px;
  --cor-header: none;
  --cor-header-bloco: var(--cor-primaria);
  /**/
  --cor-botao-menu: var(--cor-primaria);
  --comprimento-menu: 600px;
  --altura-menu-header: 3rem;
  --cor-menu-normal: var(--cor-quartenaria);
  --cor-menu-ativo: var(--cor-secundaria);
  --espacamento-submenu: 5px;
  --cor-submenu-normal: var(--cor-primaria);
  --cor-submenu-hover: var(--cor-quartenaria);

  /*
  ====================
        FOOTER
  ====================
  */
  --altura-footer: 300px;
  --tamanho-footer-fonte: 1.5rem;
  --cor-footer: var(--cor-secundaria);
  --footer-botao: var(--cor-primaria);
  --footer-botao-ativo: var(--cor-quartenaria);
}

/*
  ====================
        RESET
  ====================
  */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 62.5%;
}

ul,
ol {
  list-style-type: none;
}

/*
  ====================
        RESET
  ====================
*/

.bloco {
  width: 100%;
  max-width: 1200px;
}

.fundo_01 {
  background-color: var(--cor-primaria);
}

.fundo_02 {
  background-color: var(--cor-secundaria);
}

.fundo_03 {
  background-color: var(--cor-terciaria);
}

.centralizador {
  display: flex;
  justify-content: center;
}

.centralizador_dispersivo {
  display: flex;
  justify-content: space-around;
}

.imagem_pequena {
  width: 50px;
  height: 50px;
}

.corpo_longo-temporario {
  height: 500px;
}

/*
  ====================
        CSS SCRIPTS
  ====================
  */
.header_slide-in {
  transform: translateY(0px);
  position: fixed;
  transition: all 0.4s ease-out 0s;
  max-height: 100px;
  width: 100%;
  background-color: var(--cor-header-bloco);
}

.logo_header-reduzido {
  max-height: 60px;
}

.header_slide-out {
  transform: translateY(-100%);
  position: fixed;
  width: 100%;
  top: 0px;
  transition: transform 0.4s ease-in-out 0s;
  max-height: 100px;
  background-color: var(--cor-header-bloco);
}

.desenvolvimento_de_efeitos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#slide_direita {
  position: absolute;
  right: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: all 1s ease 0s;
}

.wrapper:hover #slide_direita {
  transition: all 1s ease 0s;
  right: 0px;
}

#slide_baixo {
  position: absolute;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: all 1s ease 0s;
}

.wrapper:hover #slide_baixo {
  transition: all 1s ease 0s;
  bottom: 0px;
}

.fundo-vermelho {
  background: red;
}

/*
  ====================
        VISIBILIDADE
  ====================
  */
.isVisible {
  opacity: 0;
  transition: opacity 2s ease-in-out 0s;
}

.isVisible.visible {
  animation: 5s ease 0s 1 normal none running apareceAumenta;
  opacity: 1;
  z-index: 2;
}

@keyframes apareceAumenta {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  75% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}
/*
  ====================
      Carrossel 
  ====================
  */
.carousel-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 2s ease-in-out 0s;
}

.carousel-panel {
  width: 100%;
  height: 300px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: rgb(52, 153, 42);
  color: rgb(255, 255, 255);
}
/*
  ====================
        Lightbox
  ====================
  */
.lightbox-container {
  text-align: center;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
  max-width: 80%;
  max-height: 80%;
  margin: 17% auto 10%;
  display: block;
}

.close-btn {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
/*
  ====================
        PADRÃO
  ====================
  ====================
  ====================
  */
p,
a,
input,
span,
textarea {
  font-size: 2rem;
}

h1,
menu {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

footer {
  max-height: var(--altura-footer);
}

/*
  ====================
        HEADER
  ====================
  ====================
  ====================
*/

header {
  height: var(--altura-header);
  z-index: 3;
  background: var(--cor-header);
  position: absolute;
  width: 100%;
}

.header_bloco {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  align-items: center;
}

.menu_corpo {
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  height: var(--altura-menu-header);
  border-radius: 0px;
  padding: 0px;
  z-index: 3;
  width: var(--comprimento-menu);
}

.nav_bloco-principal {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: var(--cor-menu-normal);
}

.header_nav-button {
  cursor: pointer;
  transition: background 0.3s ease-in-out 0s;
  padding: 5px 21px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.header_nav-menu {
  background: var(--cor-botao-menu);
  display: none;
}

.header_nav-menu .line {
  width: 28px;
  height: 4px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  display: block;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
}

.header_barras-menu {
  width: 26px;
  height: 30px;
}

.header_nav-menu .top {
  top: 4px;
}

.header_nav-menu .middle {
  top: 9px;
}

.header_nav-menu .bottom {
  top: 14px;
}

.header_nav-menu.closed .top {
  transform: translateY(9px) rotate(45deg);
}

.header_nav-menu.closed .middle {
  opacity: 0;
}

.header_nav-menu.closed .bottom {
  transform: translateY(-9px) rotate(-45deg);
}

.header_nav-menu .label {
  margin-left: 0px;
  vertical-align: middle;
}

.menu_corpo li a {
  color: var(--cor-fonte3);
}

.menu_corpo li ul li:hover {
  background-color: var(--cor-submenu-hover);
}

.menu_corpo li ul li {
  padding: var(--espacamento-submenu);
  border-radius: 8px;
}

.menu_corpo li ul {
  background-color: var(--cor-submenu-normal);
  height: auto;
  display: none;
  border: 1px solid var(--cor-fonte3);
  border-radius: 5%;
  overflow: hidden;
}

.menu_corpo > li:hover > ul {
  display: block;
  position: absolute;
  margin: 7px -30px 0px;
  animation: 1s ease 0s 1 normal forwards running subMenuAparece;
}

@keyframes subMenuAparece {
  0% {
    max-width: 0px;
    max-height: 0px;
  }

  100% {
    max-width: 100%;
    max-height: 100%;
  }
}

/*
  ====================
        FOOTER
  ====================
  ====================
  ====================
*/
footer {
  height: var(--altura-footer);
  background-color: var(--cor-footer);
  padding: 10px 0 10px;
}
.bloco_geral-footer {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}
.footer_coluna-1,
.footer_coluna-2,
.footer_coluna-3 {
  display: flex;
  flex-direction: column;
}

.footer_coluna-1 {
  background-color: var(--cor-primaria);

  /*
  ====================
        COLUNA 3
  ====================
*/
}
.footer_coluna-3 input {
  width: 300px;
  padding: 2px;
  border: 1px solid gray;
  font-size: 1.6rem;
  border-radius: 10px;
}
.footer_coluna-3 textarea {
  width: 300px;
  padding: 2px;
  border: 1px solid gray;
  font-size: 1.6rem;
  border-radius: 10px;
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.barra_footer-mensagem {
  width: 300px;
  height: 0.2rem;
  background-color: var(--cor-primaria);
  margin: 10px 0;
}
.titulo_mensagem {
  margin: 0 auto;
  width: 210px;
}

.footer_coluna-3 input,
.footer_coluna-3 textarea {
  padding: 2px 5px 2px 10px;
  color: var(--cor-fonte);
  font-family: var(--fonte-tipo-1);
}
.form_mini_submit {
  width: 80px !important;
  margin: 10px 0 0 0;
  background: var(--footer-botao);
  transition: background 0.5s;
  cursor: pointer;
}
.form_mini_submit:hover {
  background-color: var(--footer-botao-ativo);
}
/*
  ====================
        COLUNA 2
  ====================
*/
.footer_coluna-2 {
  align-items: center;
  margin: 6% 0 0;
}
/*
  ====================
        COLUNA 1
  ====================
*/
.footer_coluna-1 a {
  color: var(--fonte-tipo-1);
  font-family: var(--fonte-tipo-1);
  font-size: var(--tamanho-footer-fonte);
  transition: color 0.6s;
}
.footer_coluna-1 ul {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px;
  gap: 4px;
}
footer .icon,
footer .fa {
  padding: 10px;
  font-size: 1.7rem;
}

footer li a:hover {
  color: blue;
}
