/*RESET*/
:root {
  --cor-primaria: rgba(52, 87, 42, 0.87);
  --cor-secundaria: green;
  --cor-terciaria: gray;
  --cor-fonte: black;
  --cor-fonte2: gray;
  --tam-fontes: 16px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

.bloco {
  width: 100%;
  max-width: 1200px;
}

.fundo_01 {
  background-color: var(--cor-primaria);
}

.fundo_02 {
  background-color: var(--cor-secundaria);
}

.fundo_03 {
  background-color: var(--cor-terciaria);
}
/*----SETS-----*/
.centralizador {
  display: flex;
  justify-content: center;
}

.centralizador_dispersivo {
  display: flex;
  justify-content: space-around;
}

.imagem_pequena {
  width: 50px;
  height: 50px;
}

/*desenvolvimento float panel */
/*----------------------------*/
.corpo_longo-temporario {
  height: 500px;
}

.header_movel {
  position: fixed;
  width: 100%;
  transition: all 0.4s ease-in-out;
  animation: slideIn 2s;
}

.header_movel-voltando {
  animation: slideIn 2s;
}

.header_movel-saindo {
  animation: slideOutUp 2s;
}

.header_logo img {
  margin: 20px;
  width: 100%;
  max-width: 200px;
}

.header_logo-reduzido {
  margin: 10px !important;
  width: 50% !important;
}

/*animações de keyframe*/
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
/*Desenvolvimento slider*/
/*----------------------*/
.desenvolvimento_de_efeitos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#slide_direita {
  position: absolute;
  right: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide_direita {
  transition: 1s;
  right: 0;
}

#slide_baixo {
  position: absolute;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide_baixo {
  transition: 1s;
  bottom: 0;
}

/*---------------------------------*/
/*----Padronizações de tags ------*/
/*---------------------------------*/
p,
a,
input,
span,
textarea {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}

/*-----Padronizações de tags PAI -----*/
header {
  max-height: 150px;
}
footer {
  max-height: 300px;
}
