/*RESET*/
:root {
  --cor-primaria: rgb(134, 134, 134);
  --cor-secundaria: green;
  --cor-terciaria: gray;
  --cor-quartenaria: rgb(50, 255, 221);
  --cor-fonte: black;
  --cor-fonte2: gray;
  --cor-fonte3: rgb(61, 61, 28);
  --tam-fontes: 16px;

  /*header*/
  /**/
  --altura-header: 200px;
  --cor-botao-menu: var(--cor-primaria);
  --cor-header: var(--cor-primaria);
  /*menu*/
  --altura-menu-header: 3rem;
  --cor-menu-normal: var(--cor-quartenaria);
  --cor-menu-ativo: var(--cor-secundaria);
  --espacamento-submenu: 5px;
  --cor-submenu-normal: var(--cor-primaria);
  --cor-submenu-hover: var(--cor-quartenaria);

  --altura-footer: 150px;
  --cor-footer: --cor-secundaria;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

ul,
ol {
  list-style-type: none;
}

.bloco {
  width: 100%;
  max-width: 1200px;
}

.fundo_01 {
  background-color: var(--cor-primaria);
}

.fundo_02 {
  background-color: var(--cor-secundaria);
}

.fundo_03 {
  background-color: var(--cor-terciaria);
}
/*----SETS-----*/
.centralizador {
  display: flex;
  justify-content: center;
}

.centralizador_dispersivo {
  display: flex;
  justify-content: space-around;
}

.imagem_pequena {
  width: 50px;
  height: 50px;
}

/*desenvolvimento float panel */
/*----------------------------*/
.corpo_longo-temporario {
  height: 500px;
}
.header_slide-in {
  transform: translateY(0);
  position: fixed;
  transition: all 0.4s ease-out;
  max-height: 100px;
  width: 100%;
}
.logo_header-reduzido {
  max-height: 60px;
}

.header_slide-out {
  transform: translateY(-100%);
  position: fixed;
  width: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
}

/*Desenvolvimento slider*/
/*----------------------*/
.desenvolvimento_de_efeitos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#slide_direita {
  position: absolute;
  right: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide_direita {
  transition: 1s;
  right: 0;
}

#slide_baixo {
  position: absolute;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide_baixo {
  transition: 1s;
  bottom: 0;
}
/*Visibilidade de elementos*/
/*-------------------------*/
/*-------------------------*/
.fundo-vermelho {
  background: red;
}
.isVisible {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.isVisible.visible {
  animation: apareceAumenta 5s;
  opacity: 1;
  z-index: 2;
}

@keyframes apareceAumenta {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
/*Banner rotativo*/
/*---------------------------*/
/*---------------------------*/
.carousel-container {
  position: relative;
  width: 100%; /* Ajuste conforme necessário */
  height: 300px; /* Ajuste conforme necessário */
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 2s ease-in-out;
}

.carousel-panel {
  width: 100%;
  height: 300px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #34992a;
  color: #fff;
}

/*---------------------------------*/
/*----Padronizações de tags ------*/
/*---------------------------------*/
p,
a,
input,
span,
textarea {
  font-size: 2rem;
}

h1,
button {
  font-size: 3rem;
}
a {
  text-decoration: none;
}

/*-----Padronizações de tags PAI -----*/

footer {
  max-height: var(--altura-footer);
}

/*-------------HEADER---------------*/
/*----------------------------*/
/*----------------------------*/
header {
  height: var(--altura-header);
  z-index: 3;
  background: var(--cor-header);
}
.header_bloco {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.menu_corpo {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: var(--altura-menu-header);
  border-radius: 0;
  padding: 0;
  z-index: 3;
}
.nav_bloco-principal {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: var(--cor-menu-normal);
}
.header_nav-button {
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  padding: 5px 21px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  position: absolute;
  top: 106px;
  right: 2%;
}

/*MENU*/
.header_nav-button {
  background: var(--cor-botao-menu);
}

.header_nav-button .line {
  width: 28px;
  height: 4px;
  background: #000000;
  border-radius: 3px;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.header_barras-menu {
  width: 26px;
  height: 30px;
}
.header_nav-button .top {
  top: 7px;
}

.header_nav-button .middle {
  top: 16px;
}

.header_nav-button .bottom {
  top: 25px;
}

.header_nav-button.closed .top {
  transform: translateY(9px) rotate(45deg);
}

.header_nav-button.closed .middle {
  opacity: 0;
}

.header_nav-button.closed .bottom {
  transform: translateY(-9px) rotate(-45deg);
}

.header_nav-button .label {
  margin-left: 0px;
  vertical-align: middle;
}

.menu_corpo li a {
  color: var(--cor-fonte3);
}

.menu_corpo li ul li:hover {
  background-color: var(--cor-submenu-hover);
}

.menu_corpo li ul li {
  padding: var(--espacamento-submenu);
  border-radius: 8px;
}

.menu_corpo li ul {
  background-color: var(--cor-submenu-normal);
  height: auto;
  display: none;
  border: 1px solid var(--cor-fonte3);
  border-radius: 5%;
  overflow: hidden;
}

.menu_corpo > li:hover > ul {
  display: block;
  position: absolute;
  margin: 7px -30px 0;
  animation: subMenuAparece 2s forwards;
}

@keyframes subMenuAparece {
  0% {
    max-width: 0;
    max-height: 0;
  }
  100% {
    max-width: 100%;
    max-height: 100%;
  }
}
